<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<head>
    <meta charset="UTF-8">
    <title>Logs</title>
</head>
<body>
<br><br>
<table class="table" style="border-style: solid; border-color: #F5C6FB;  width: 70%; margin-right: 15%; margin-left: 15%; vertical-align: middle">
  <tbody>
    <tr>
        <td style="text-align: center"><b>Guest check-in list</b></td>
        {{displyLogs|safe}}
    </tr>
  </tbody>
</table>

<!-- Button with the reference to Manager page -->
<div style="margin-left: 15%; margin-right: 15%; margin-bottom: 10%; text-align: center">
<br><br>
 <a href="/manager"><button class="btn btn-primary" type="submit" style="margin-left:auto; margin-right:auto; display: block"><b>Go back to manager</b></button></a>
<br><br>
</div>

<!-- Footer with copyright -->
<footer class="page-footer font-small blue fixed-bottom">
  <div class="footer-copyright text-center py-1">© 2020 Copyright</div>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>