<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<head>
    <meta charset="UTF-8">
    <title>Explaining</title>
</head>

<body style="margin-left: 10%; margin-right: 20%; background-color: #FBE9FD"> <br>
<h2 style="text-align: center"><b>Welcome to our Bed & Breakfast SMART CHECK-IN system!</b></h2> <br>
<p>Hoping you're enjoying this technological way of checking in, we would like to tell you something more about this innovative idea. <br>
  Everything started trying to find a <b>comfortable</b> and <b>flexible</b> solution for guests who are entering their few-days house. <br>
  Hence, our aim was to be in contact with you even if we were not able to be in town at your arrive. <br>
</p>
<div class="media">
  <div class="media-body">
    We studied this system by which we manage to open the house door from away, just giving you a combination of rings you should perform
    with the intercom. <br>
    <br><i>You can enter the house to rest a bit after a long journey, without having to wait until our arrive! </i><br>
    <i>You don't have to think about the keys: you will never forget or lose them because you will never need them! </i><br>
  </div>
  <img src="/static/img/intercom.jpg" class="ml-3" alt="intercom">
</div>
<br><br>
<h5 style="text-align: center">
  It sounds great, doesn't it? <br>
  Everything is ready, now you just need to try this system... Have an amazing stay!
</h5>

<br><br><br>
<!-- Link to go back to the index -->
<a href="/"> <p style="text-align: center"> Click here to go back to HOME page</p></a>

<!-- Footer with copyright -->
<footer class="page-footer font-small blue fixed-bottom">
  <div class="footer-copyright text-center py-1">© 2020 Copyright Accetturi - Gambetti</div>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>