<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<head>
    <meta charset="UTF-8">
    <title>Explaining</title>
</head>

<body style="margin-left: 20px; margin-right: 20%; background-color: C5F7E8">
<h2>Welcome to our Bed & Breakfast SMART CHECK IN system</h2> <br>
<p>Hoping you're enjoying this technological way of checking in, we would like to tell you something more about this innovative idea. <br>
Everything started trying to find a comfortable and flexible solution for our guests to enter their few-days house. <br>
Hence, our aim was to be in contact with you even if we were not able to be in town at your arrive. <br>
</p>
<div class="media">
  <div class="media-body">
    We studied this system by which we managed to open you the house door from away, just giving a combination of rings you should perform
    with the intercom. <br>
    You can enter the house to rest a bit after a long journey, without having to wait until our arrive! <br>  </div>
  <img src="/static/img/intercom.jpg" class="ml-3" alt="intercom">
</div>

<!-- Footer with copyright -->
<footer class="page-footer font-small blue fixed-bottom">
  <div class="footer-copyright text-center py-3">© 2020 Copyright</div>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>